---
title: Discover Meteor - Learn how to build real-time JavaScript web apps with the Meteor.js framework
page: home
---

- content_for(:title, current_page.data.title)
- content_for(:layout, 'home')

%h1 This is the index